body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

main {
    background-color: #e4e4e4;
}

h1 img {
    width: 10%;
    padding: 15px;
}

h1 img:hover  {
    cursor: pointer;
}

.cabeçalho {
    display: flex;
}

.cabeçalho ul {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
}

.cabeçalho ul li {
    display:list-item ;
    padding: 0 30px 0 0;
}

.cabeçalho ul li a {
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    text-decoration: none;
}

.cabeçalho ul li a:hover {
    color: white;
    text-decoration: underline;
}

.caixa_login {
    justify-content: center;
    width: 100%;
    height: 100vh;
    display: flex;
}

.form_login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.form_login form {
    width: 50%;
}

.caixa_login .form_login .lista_login {
    display: flex;
    align-items: center;
    justify-content: center;
}

.caixa_login .form_login .lista_login li {
    list-style: none;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0 7px;
    cursor: pointer;
    transition: 0.3s;
}

.caixa_login .form_login .lista_login li:hover {
    background-color: gray;
}

.form_login .lista_login li img {
    width: 40px;
}

.caixa_login .form_login h2 {
    font-size: 27px;
    font-weight: bold;
    margin: 15px;
    text-align: center;
}

.caixa_login .form_login .caixa_input{
    margin-bottom: 20px;
}

.caixa_login .form_login .caixa_input input {
    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
    font-weight: 500;
    font-size: 17px;
    color: rgb(0, 0, 0);
    background-color: rgb(244, 244, 244);
}

.caixa_login .form_login .caixa_input .itens_login {
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    color: black;
    font-weight: 500;
}

.caixa_login .form_login .caixa_input input::placeholder {
    color: gray;
}

.caixa_login .form_login .caixa_input input[type=submit] {
    background-color: #4aa4ee;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 600;
    cursor: pointer;
    font-size: 20px;
    transition: 0.3s;
}

.caixa_login .form_login .caixa_input input[type=submit]:hover {
    background-color: #3286ca;
}

.caixa_login .form_login .remember {
    margin-bottom: 20px;
    color: black;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.caixa_login .form_login .remember a {
    color: #4aa4ee;
    text-decoration: none;
    padding-top: 3px;
}

.caixa_login .form_login .remember a:hover {
    color: #3286ca;
}

.caixa_login .form_login .caixa_input p {
    color: black;
}

.caixa_login .form_login .caixa_input p a {
    color: #4aa4ee;
}

.caixa_login .form_login .caixa_input p a:hover {
    color: #3286ca;
}

.caixa_login .form_login h3{
    color: gray;
    text-decoration: none;
    margin: 40px 0 15px;
    font-weight: 500;
    text-align: center;
    font-size: 22px;
}

.titulo_serviços {
    font-size: 27px;
    font-weight: bold;
    margin: 15px;
}

.serviços, .info {
    width: 60%;
    margin: 0 auto;
    padding: 50px 0;
}

.titulo_lamb {
    font-size: 27px;
    font-weight: bold;
    text-align: center;
    margin: 20px 0 70px 0;
}

.titulo {
    font-size: 27px;
    font-weight: bold;
    margin: 70px 0 30px 15px;
}

.serviços li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 1.5% 1.5%;
    box-sizing: border-box;
    border: 3px solid black;
    border-radius: 15px;
    background-color: white;
}

.itens_serviços {
    font-size: 22px;
    font-weight: bold;
    margin: 15px;
}

.serviços_preço {
    font-size: 22px;
    font-weight: bold;
    margin: 15px;
}

.serviços li:hover {
    border-color: #db8a5b;
}

.itens_negrito {
    font-size: 18px;
    font-weight: bold;
    margin: 15px;
}

.itens_info {
    font-size: 17px;
    margin: 15px;
}

.loc_mapa {
    margin: 0 0 0 15px;
}

.equipe li {
    display: inline-block;
    text-align: center;
    width: 17%;
    vertical-align: top;
    border-radius: 15px;
}

.membros_equipe {
    font-size: 20px;
    padding: 10px 0 0 0;
}






footer {
    text-align: center;
    background-color: black;
    padding: 15px 0;
    font-family: Arial, Helvetica, sans-serif;
}

footer img {
    width: 5%;
}

.copyright {
    color: white;
    font-size: 13px;
    margin: 10px 0 0;
}